<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<h1>Welcome to Webpack + EJS</h1>
<p>This page was dynamically generated using EJS.</p>
<img alt="MISSING GRAPHIC" src="<%= require('./assets/images/coding.svg') %>"/>
</body>
</html>